.custom-nav ul {
  list-style-type: none;
  padding: 0;
}

.custom-nav ul li {
  display: inline-block;
  margin-right: 10px;
}

.custom-nav ul li ul {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
}

.custom-nav ul li:hover ul {
  display: block;
}

.custom-nav ul li ul li {
  display: block;
}

  